#main .menu {
  float: left;
  border: 1px solid #aaa;
  width: 200px;
  padding: 10px;
}
#main .menu h5 {
  text-align: center;
  font-size: 18px;
}
#main .menu li {
  margin: 20px;
}
#main .content {
  border: 1px solid #aaa;
  float: right;
  padding: 10px;
  width: 750px;
}
#main .content .msg {
  margin: 0 15px 10px 10px;
  background-color: #eee;
}
#main .content .msg .msgt {
  padding: 10px;
}
#main .content .msg .msgt h5 {
  font-size: 25px;
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
}
#main .content .msg .msgt h5 span {
  font-size: 8px;
  display: inline-block;
  vertical-align: super;
  text-indent: 8px;
}
#main .content .msg .msgt h5 .unread {
  color: red;
}
#main .content .msg .msgt h5 .readed {
  color: #999;
}
#main .content .msg .msgt .fold,
#main .content .msg .msgt .unfold,
#main .content .msg .msgt .del,
#main .content .msg .msgt span.from-people {
  display: block;
  float: right;
  padding: 0 10px;
  letter-spacing: 3px;
  font-size: 8px;
}
#main .content .msg .msgt span.from-people {
  color: #2e28af;
}
#main .content .msg .msgc {
  padding: 10px;
  background-color: #ccc;
}
#main .content .msg .msgc li {
  padding: 10px;
}
#main .content .msg .msgc li span.time {
  padding: 0 10px 0 30px;
  float: right;
  color: red;
}
#main .content .msg .msgc li.he {
  text-indent: 20px;
}
.centertitle {
  text-align: center;
  padding: 10px;
  color: blue;
}
